<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    
    <listeners>
        <listener class-name="org.flipkart.listeners.TestListeners"/>

    </listeners>
    
    <test name="ookla application testing">
       
        
        <parameter name="platformName" value="android"/>
        <parameter name="platformVersion" value="12.0"/>
        <parameter name="deviceName" value="Pixel_4"/>

        <classes>

            <class name="org.flipkart.Tests.NavigateToHomePageTests"/>
            <class name="org.flipkart.Tests.CategoriesPageTests"/>


        </classes>
    </test>
</suite>